<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <!--Add Bootstrap-->
      <link rel='stylesheet' href="/stylesheets/bootstrap.min.css" />
    <link rel='stylesheet' href="/stylesheets/style.css" />

  </head>
  <body>

  <!--NAV BAR https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp  -->
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="/">Task Manager V2</a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
              </li>
              {{#if user}}
                  <li class="nav-item">
                      <a class="nav-link" href="/tasks">Tasks</a>
                  </li>
              {{/if}}
          </ul>
          <ul class="navbar-nav ml-auto">
              {{#if user}}
                  <li class="nav-item">
                      <a class="nav-link">{{user.username}}</a>
                  </li>
              <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
              </li>
              {{else}}
              <li class="nav-item">
                  <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
              </li>
              {{/if}}

          </ul>
      </div>
  </nav>


  {{{body}}}
  </body>

<script src="/javascripts/bootstrap.min.js"></script>
<!--Add JQUERY-->
<script src="/javascripts/jquery.min.js"></script>
<!--Custom JS-->
  <script src="/javascripts/scripts.js"></script>

</html>
